@model Customer
@{
    ViewData["Title"] = "Update";
}

<form method="post" asp-action="Update">
    <label asp-for = "cus_id"></label>: <input type="text" asp-for="cus_id" class="form-control" readonly>
    <span asp-validation-for = "cus_id" class="text-danger"></span>
    <br>
    <label asp-for = "cus_name"></label>: <input type="text" asp-for="cus_name" class="form-control" >
    <span asp-validation-for = "cus_name" class="text-danger"></span>
    <br>
    <label asp-for = "cus_gender"></label>: <input type="radio" asp-for="cus_gender" value="Male"> Male <input type="radio" asp-for="cus_gender" value="Female"> Female
    <span asp-validation-for = "cus_gender" class="text-danger"></span>
    <br>
    <label asp-for = "cus_birthday"></label>: <input type="date" asp-for="cus_birthday" class="form-control">
    <span asp-validation-for = "cus_birthday" class="text-danger"></span>
    <br>
    <label asp-for = "cus_address"></label>: <input type="text" asp-for="cus_address" multiple class="form-control">
    <span asp-validation-for = "cus_address" class="text-danger"></span>
    <br>
    <input type="submit" value="Confirm" class="btn btn-outline-primary"> <a asp-controller="Customer" asp-action="Index" class="btn btn-outline-info">Back to list</a>
</form>